<template>
<div class="content">

    <div class="faq">
        <a href="#" class="fq m20_b fq_active" @click.stop.prevent="toggleDropDown"><span>Заявки</span>
            <span class="btn-r btn_w">
                <svg width="11px" height="5px" viewBox="0 0 11 5" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                        <g transform="translate(-1275.000000, -363.000000)" stroke="#6C6C6C">
                            <g transform="translate(663.000000, 338.000000)">
                                <g transform="translate(617.000000, 28.000000) rotate(-180.000000) translate(-617.000000, -28.000000) translate(601.000000, 12.000000)">
                                    <g transform="translate(11.000000, 13.000000)">
                                        <polyline points="0.400200397 1.07412508 4.69564588 5.5022314 9 1.07412508"></polyline>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </span>
        </a>
        <div class="table">
            <div class="table-5 table">
                <div class="flx table__row_head table__row">
                    <div>№</div>
                    <div>Название</div>
                    <div>Срок действия</div>
                    <div>Заказчик</div>
                    <div class="add-item">Сумма</div>
                </div>
                <div class="flx table__row">
                    <div>1</div>
                    <div><a href="#">Поставка медикаментов</a></div>
                    <div>21.04.2017 - 21.04.2018</div>
                    <div><a href="#">МГУП Ивантеевка</a></div>
                    <div>1 001 900</div>
                </div>
                <div class="flx table__row">
                    <div>2</div>
                    <div><a href="#">Поставка медикаментов</a></div>
                    <div>21.04.2017 - 21.04.2018</div>
                    <div><a href="#">МГУП Ивантеевка</a></div>
                    <div>1 001 900</div>
                </div>
                <div class="flx table__row">
                    <div>3</div>
                    <div><a href="#">Поставка медикаментов</a></div>
                    <div>21.04.2017 - 21.04.2018</div>
                    <div><a href="#">МГУП Ивантеевка</a></div>
                    <div>1 001 900</div>
                </div>
                <div class="flx table__row">
                    <div>4</div>
                    <div><a href="#">Поставка медикаментов</a></div>
                    <div>21.04.2017 - 21.04.2018</div>
                    <div><a href="#">МГУП Ивантеевка</a></div>
                    <div>1 001 900</div>
                </div>
            </div>
        </div>

    <div class="faq">
        <a href="#" class="fq m20_b fq_active" @click.stop.prevent="toggleDropDown"><span>Банковские гарантии</span>
            <span class="btn-r btn_w">
                <svg width="11px" height="5px" viewBox="0 0 11 5" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                        <g transform="translate(-1275.000000, -363.000000)" stroke="#6C6C6C">
                            <g transform="translate(663.000000, 338.000000)">
                                <g transform="translate(617.000000, 28.000000) rotate(-180.000000) translate(-617.000000, -28.000000) translate(601.000000, 12.000000)">
                                    <g transform="translate(11.000000, 13.000000)">
                                        <polyline points="0.400200397 1.07412508 4.69564588 5.5022314 9 1.07412508"></polyline>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </span>
        </a>
        <div v-if="hide" class="table">
            <div class="table-5 table">
                <div class="flx table__row_head table__row">
                    <div>№</div>
                    <div>Название</div>
                    <div>Срок действия</div>
                    <div>Заказчик</div>
                    <div class="add-item">Сумма</div>
                </div>
                <div class="flx table__row">
                    <div>1</div>
                    <div><a href="#">Поставка медикаментов</a></div>
                    <div>21.04.2017 - 21.04.2018</div>
                    <div><a href="#">МГУП Ивантеевка</a></div>
                    <div>1 001 900</div>
                </div>
                <div class="flx table__row">
                    <div>2</div>
                    <div><a href="#">Поставка медикаментов</a></div>
                    <div>21.04.2017 - 21.04.2018</div>
                    <div><a href="#">МГУП Ивантеевка</a></div>
                    <div>1 001 900</div>
                </div>
                <div class="flx table__row">
                    <div>3</div>
                    <div><a href="#">Поставка медикаментов</a></div>
                    <div>21.04.2017 - 21.04.2018</div>
                    <div><a href="#">МГУП Ивантеевка</a></div>
                    <div>1 001 900</div>
                </div>
                <div class="flx table__row">
                    <div>4</div>
                    <div><a href="#">Поставка медикаментов</a></div>
                    <div>21.04.2017 - 21.04.2018</div>
                    <div><a href="#">МГУП Ивантеевка</a></div>
                    <div>1 001 900</div>
                </div>
            </div>
        </div>
    <div class="faq">
        <a href="#" class="fq m20_b fq_active" @click.stop.prevent="toggleDropDown"><span>Контракты</span>
            <span class="btn-r btn_w">
                <svg width="11px" height="5px" viewBox="0 0 11 5" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                        <g transform="translate(-1275.000000, -363.000000)" stroke="#6C6C6C">
                            <g transform="translate(663.000000, 338.000000)">
                                <g transform="translate(617.000000, 28.000000) rotate(-180.000000) translate(-617.000000, -28.000000) translate(601.000000, 12.000000)">
                                    <g transform="translate(11.000000, 13.000000)">
                                        <polyline points="0.400200397 1.07412508 4.69564588 5.5022314 9 1.07412508"></polyline>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </span>
        </a>
        <div v-if="hide" class="table">
            <div class="table-5 table">
                <div class="flx table__row_head table__row">
                    <div>№</div>
                    <div>Название</div>
                    <div>Срок действия</div>
                    <div>Заказчик</div>
                    <div class="add-item">Сумма</div>
                </div>
                <div class="flx table__row">
                    <div>1</div>
                    <div><a href="#">Поставка медикаментов</a></div>
                    <div>21.04.2017 - 21.04.2018</div>
                    <div><a href="#">МГУП Ивантеевка</a></div>
                    <div>1 001 900</div>
                </div>
                <div class="flx table__row">
                    <div>2</div>
                    <div><a href="#">Поставка медикаментов</a></div>
                    <div>21.04.2017 - 21.04.2018</div>
                    <div><a href="#">МГУП Ивантеевка</a></div>
                    <div>1 001 900</div>
                </div>
                <div class="flx table__row">
                    <div>3</div>
                    <div><a href="#">Поставка медикаментов</a></div>
                    <div>21.04.2017 - 21.04.2018</div>
                    <div><a href="#">МГУП Ивантеевка</a></div>
                    <div>1 001 900</div>
                </div>
                <div class="flx table__row">
                    <div>4</div>
                    <div><a href="#">Поставка медикаментов</a></div>
                    <div>21.04.2017 - 21.04.2018</div>
                    <div><a href="#">МГУП Ивантеевка</a></div>
                    <div>1 001 900</div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</template>

<script>
import Inputmask from 'inputmask';

export default {
    data() {
        return {
            edit: {
                email: false,
                tel: false,
                togglePasswordReset: false,
            },
            hide: false
        };
    },
    mounted() {},
    methods: {
        toggleDropDown: function(e) {
            console.log(this);
            console.log(e.target);

        },
        submitUserData: function() {
            const data = $('.user-data').serialize();
        },
    },
    props: {
        organization: {
            type: Object,
            default: function() {
                return {};
            },
        },
    },
};
</script>
