

.apartment--item {
    border: 1px solid #b4802a;
    margin-bottom: 4em;
    border-radius: 2px;
}

.apartment--thumbnail {
    margin: 1.5em 0;
    position: relative;
}

.apartment--thumbnail:hover {
    cursor: pointer;
}

.chose-apartment .apartment--header {
    color: #b4802a;
    font-size: 20px;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    font-weight: 600;
}

span.apartment--size-label {
    display: block;
    color: #3d515c;
    font-size: 17px;
    margin-bottom: 0.3em;
}

span.apartment--size-value {
    color: #b4802a;
    display: inline-block;
}

span.apartment--price-label {
    display: block;
    color: #3d515c;
    font-size: 16px;
    margin-bottom: 0.3em;
}

span.apartment--price-value {
    color: #b4802a;
}

span.apartment--delivery-date {
    color: #3d515c;
    font-style: italic;
    display: block;
    margin-bottom: 1em;
    font-size: 17px;
}

span.apartment--design-label {
    font-style: italic;
    display: block;
    margin-bottom: 1em;
    font-size: 17px;
}

.apartment--thumbnail-lupa {
    display: block;
    width: 43px;
    height: 44px;
    position: absolute;
    right: 10px;
    bottom: 0.5em;
    background-image: url('/images/loopa1.png');
}

.apartment--form {
    max-width: 220px;
    margin: 0 auto 20px;
}

.apartment--form input {
    border-color: #000;
}

.apartment--form button.btn {
    background-color: #ff7200;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #000;
    line-height: 1.4;
    font-size: 12px;

}

.apartment--item__black-style .apartment--header {
    color: #cee1eb;
}

.apartment--item__black-style .apartment--size-label {
    color: #b4802a;
}

.apartment--item__black-style .apartment--size-value {
    color: #cee1eb;
}

.apartment--item__black-style .apartment--price-label {
    color: #b4802a;
}

.apartment--item__black-style .apartment--price-value {
    color: #cee1eb;
}

.apartment--item__black-style .apartment--design-label {
    color: #b4802a;
}

.apartment--item__black-style .apartment--thumbnail-lupa {
    background-image: url('/images.loopa1.png');
}

.apartment--item__black-style .apartment--form input {
    background-color: transparent;
    border-color: #cee1eb;
}


.finish {
    background-color: #292948;
    padding: 20px 0;
}

.finish .block-list__item_col-4 {
    margin-bottom: 20px;
}

.service {
    padding-bottom: 10px;

    .block-list__item {
        img {
            margin-bottom: 16px;
        }
    }
}

.credit {
    background: linear-gradient(0deg, #B5DFE8 0%, #EAEBD0 100%);
    padding-top: 1px;
    padding-bottom: 30px;
    .block-list {
        justify-content: space-around;
    }

    .block-list__item_col-2>img {
        height: 80px;
    }
}

.conditions {
    margin: 30px 0;
}

.conditions__item {
    img {
        height: 70px;
    }
}

.two-days {
    .block-list__item_col-4 {
        img {
            margin-bottom: 16px;
        }
    }
}

@media (max-width: 768px) {
    .conditions {
        margin: 50px 0;
    }
}

@media (max-width: 480px) {
    .credit {
        .block-list__item_col-2>img {
            height: 70px;
        }
    }
}

.modal {
  display: none !important;
}
img.mfp-img {
  display: block;
}
.mfp-wrap .modal {
  display: block !important;
}
.btn-pop {
  paddin-left: 12px;
  padding-right: 12px;
  max-width: 246px;
}
.pop-window {
  padding: 3rem;
  display: block;
  margin: 0 auto;
  position: relative;
  background: white;
}
