* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    height: 100%;
    min-width: 300px;
    overflow-x: hidden;
    color: #5d5f5d;
    background-color: #fbf5f4;
    font-family: 'PF DinDisplay Pro';
}

.container {
    width: 96%;
    max-width: 1180px;
    margin: 0 auto;
}

li {
    list-style: none;
}

a {
    outline: none;
    text-decoration: none;
}

p {
    margin-bottom: 17px;
    font-size: 18px;
}

.link {
    text-decoration: underline;
    color: #4f6166;
}

h1,
.title_h1 {
    display: inline-block;
    color: #ac7b28;
    font-size: 86px;
    font-weight: 500;
    margin: 45px 0 0;
    @media (max-width: 768px) {
        font-size: 57px;
    }
}

h2,
.title_h2 {
    font-size: 42px;
    text-align: center;
    margin: 32px 0;
    @media (max-width: 768px) {
        font-size: 33px;
    }
}

h3,
.title_h3 {
    font-size: 25px;
    font-weight: 900;
    margin: 16px 0;
}

h4,
.title_h4 {
    font-size: 20px;
    font-weight: 900;
    margin: 10px 0;
}

.gold {
    color: #ac7b28;
}
.white {
    color: #fff;
}

.txt-center {
    text-align: center;
}

.h_89 {
    height: 89px;
}

.btn {
    cursor: pointer;
    background-color: #ff7200;
    color: #fff;
    font-size: 19px;
    font-weight: 600;
    box-shadow: 0 0 23px -4px #000;
    text-align: center;
    border: 0;
    max-width: 380px;
    padding: 8px 40px;
    line-height: 1.5;
    border-radius: 0.25rem;
}

@media (max-width: 480px) {
    .form-title {
        font-size: 24px;
    }

    h1,
    .title_h1 {
        font-size: 40px;
        margin-top: 35px;
    }

    h2,
    .title_h2 {
        font-size: 24px;
    }

    h3,
    .title_h3 {
        font-size: 18px;
    }

    h4,
    .title_h4 {
        font-size: 16px;
    }

    p {
        font-size: 14px;
    }

    .btn {
        font-size: 14px;
        max-width: 300px;
        padding: 12px 40px;
    }
}
