.caps-ttl {
    text-transform: uppercase;
    font-size: 46px;
    text-align: center;
    & b {
        color: #4f6166;
        font-weight: 700;
    }
    & span {
        color: #4f6166;
    }
}

@media (max-width: 520px) {
    .caps-ttl {
        font-size: 36px;
    }
}
.price-change {
    display: block;
    max-width: 642px;
    margin-left: auto;
    margin-right: auto;

    & img {
        display: block;
        width: 100%;
        height: auto;
    }
}

.price-history {
    //background: url('../images/preice-bg.jpg') no-repeat center bottom #f9f5f4;
    background-color: #f9f5f4;
}

.order-ttl {
    display: block;

    text-align: center;
    & .gold {
        display: block;
    }
}
