.block-form {
}

.block-form__inner {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  max-width: 980px;
  margin: 0 auto;
}

.block-form__but-wrap {
  display: flex;
  flex-direction: column;
  
}

.block-form__input {
  align-self: flex-start;
  display: block;
  width: 100%;
  max-width: 246px;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #000;
  font-size: 20px;
  color: #afb5b9;
  border-radius: .25rem;
  margin-bottom: 15px;
}

.block-form__input_app  {
  width: 83%;
  font-size: 15px;
}


.block-form__but-wrap input[type=checkbox] {
  display: none;
}

.block-form__checkbox {
  margin-top: 20px;
  display: flex;
  height: 20px;
  align-items: center;
  font-size: 13px;
  position: relative;
  padding-left: 31px;
}

.block-form__checkbox::before {
  content: '';
  display: block;
  width: 21px;
  height: 20px;
  position: absolute;
  left: 0;
  background-image: url("../images/checkbox-unchecked.png");
}

input[type=checkbox]:checked + .block-form__checkbox::before {
  background-image: url("../images/checkbox.png");
}

@media (max-width: 992px) {
  .block-form__inner {
      flex-direction: column;
      align-items: center;
      margin-top: 15px;
  }

  .block-form__input {
      align-self: center;
  }
}

