.block-list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.block-list__item_col-4 {
    width: 23%;
    img {
        display: block;
        margin: 0 auto;
    }
    h4 , p {
        text-align: center;
    }
}

.block-list__item_col-2 {
    width: 45%;
    img {
        display: block;
        margin: 0 auto;
    }
    h4 , p {
        text-align: center;
    }
}




@media (max-width: 992px) {

    .block-list {
        justify-content: space-around;
    }

    .block-list__item_col-4{
        width: 40%;
    }

    
}

@media (max-width: 768px) {
    .block-list__item_col-2 {
        width: 80%;
    }
}

@media (max-width: 480px) {

    .block-list {
        justify-content: center;
    }
    
    .block-list__item_col-4{
        width: 80%;
    }

    
}