.header {
    width: 100%;
    background-image: url('../images/header-bgc.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header__top {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.header__top-logo {
    width: 200px;
    height: 50px;

    img {
        width: 100%;
        height: 100%;
    }
}

.header__top-links {
    display: flex;
    align-items: center;
}

.header__top-tel {
    color: #4f6166;
    font-size: 32px;
    display: inline-block;
    font-weight: 600;

    &::before {
        content: '';
        display: inline-block;
        width: 18px;
        height: 24px;
        background-image: url(../images/phone-icon.png);
        background-size: cover;
        margin-right: 10px;
    }
}

.header__top-call {
    color: #4f6166;
    font-size: 20px;
    margin-left: 10px;
    padding-bottom: 6px;
    border-bottom: 3px solid #4f6166;
}

.header__bottom {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    h2 {
        margin: 5px 0 0;
        color: #4f6166;
    }
}

.header__bottom-title {
    font-size: 28px;
    font-weight: 300;
    text-align: center;
    font-style: italic;
    margin-top: 15px;
}

.header__advantages {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;

    li {
        color: #5b7d84;
        font-size: 22px;
        font-weight: 600;
        position: relative;
        margin-bottom: 16px;
        padding-left: 75px;

        &::after {
            content: '';
            display: block;
            top: 0px;
            width: 42px;
            height: 24px;
            background-image: url(../images/double-checkbox.png);
            position: absolute;
            background-size: cover;
            left: 15px;
        }
    }
}

@media (max-width: 768px) {
    .header__top {
        flex-direction: column;
        align-items: center;
    }

    .header__top-links {
        flex-direction: column;
    }

    .header__top-logo {
        width: 300px;
        height: 75px;
        margin-bottom: 20px;
    }

    .header__bottom {
        h2 {
            max-width: 450px;
        }
    }

    .header__bottom-title {
        max-width: 300px;
    }

    .header__advantages {
        flex-direction: column;
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 480px) {
    .header__bottom-title {
        font-size: 20px;
    }
}
