.horizon-block {
    
}

.horizon-block__item {
    display: flex;
    margin-bottom: 30px;
    img {
        max-width: 344px;
        max-height: 231px;
        margin-bottom: 10px;
    } 
}

.horizon-block__item_rev {
    flex-direction: row-reverse;
    .horizon-block__item-text {
        margin: 0;
        margin-right: 40px;
    }
}

.horizon-block__item-text {
    margin-left: 40px;
    h3 {
        margin-top: 0;
    } 
}

@media (max-width: 768px) {
    .horizon-block__item {
        flex-direction: column;
        align-items: center;
    }

    .horizon-block__item-text  {
        margin: 0px !important;
        h3 {
            text-align: center;
            margin-top: 20px;
        }
    }
}

@media (max-width: 480px) {
    .horizon-block__item {
        img {
            max-width: 300px;
            max-height: 180px;
        } 
    }
}