#map {
    display: block;
    width: 100%;
    height: 550px;
    display: block;
}

.location-addr {
    margin: 16px 0;
    text-align: center;
    span {
        font-size: 25px;
        font-weight: 900;
        display: block;
        text-align: center;
    }
}

.location {
    padding-top: 10px;
    background: white;
}
.telephone {
    color: #5b7d84;
    font-size: 30px;
    display: inline-block;
    font-weight: 600;
    display: block;
    text-align: center;
}
.tel {
    padding: 20px 0 10px;
}
.shd {
    -webkit-box-shadow: 0px 9px 15px -6px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 9px 15px -6px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 9px 15px -6px rgba(0, 0, 0, 0.6);
    position: relative;
    z-index: 1;
}
