<template lang="html">
<div class="app-body" @click="disableEditMode">
    <Nav></Nav>
    <div class="container">
        <TopBar></TopBar>

        <section class="prof-main flx_jsb">
            <h1 v-text="title"></h1>

            <SideBar
                v-bind:router="{
                    'Профиль': '/',
                    'Организация': 'organization',
                    'Сотрудники': 'employees',
                    'Справочники': 'manual',
                    'Документы': 'documents',
                    'Сотрудники': 'employees',
                }"
                v-bind:user="{
                    fullName: 'Ирина Лебедева',
                    position: 'учредитель',
                    img: 'assets/img/bitmap.png'}">
            </SideBar>
                <!-- right -->
                <div class="prof-main__right-side">
                    <!--
                    <UserProfile v-bind:data="{
                        tel: '',
                        name: '',
                        sureName: '',
                        email: '',
                        position: '',
                        keyPosition: {
                            admin: false,
                            'exec-manager': false,
                            'exec-co-manager': false,
                        },
                        responsibility: '',
                        inn: '',
                        pass: {
                            serial: '',
                            num: '',
                            issued_by: '',
                            issued_time: '',
                            issued_code: '',
                            birth_pace: '',
                        },
                        notifications: {
                             'executor': false,
                            'co-executor': false,
                            'chat-notifications': true,
                            'new-tenders': false,
                        },
                        email_notification: false,
                        phone_notification: false
                    }"></UserProfile>
                -->
<!--
                    <Organization v-bind:organization="{
                        inn: '',
                        kpp: '',
                        ogrn: '',
                        date: '',
                        ceo: '',
                        fullName: '',
                        shortName: '',
                        postAddress: '',
                        smallBusines: '',
                        sameOrigin: '',
                        bik: '',
                        bank: '',
                        rc: '',
                        kc: '',

                        keyPosition: {
                            admin: false,
                            'exec-manager': false,
                            'exec-co-manager': false,
                        },
                        responsibility: '',
                        inn: '',
                        pass: {
                            serial: '',
                            num: '',
                            issued_by: '',
                            issued_time: '',
                            issued_code: '',
                            birth_pace: '',
                        },
                        notifications: {
                             'executor': false,
                            'co-executor': false,
                            'chat-notifications': true,
                            'new-tenders': false,
                        },
                        email_notification: false,
                        phone_notification: false
                    }"></Organization>
                -->
                <!-- <Users></Users> -->

                <Books></Books>
                </div>
        </section>
    </div>
</div>
</template>
<script>
import TopBar from './TopBar.vue';
import SideBar from './SideBar.vue';
import Nav from './Nav.vue';

import UserProfile from './home/UserProfile.vue';
import Organization from './home/Organization.vue';
import Users from './home/Users.vue';
import Books from './home/Books.vue';

import $ from 'jquery';
import l from '.././functions/lib';

export default {
    data() {
        return {
            title: 'Мой профиль',
            data: {
                tel: '',
                name: '',
                sureName: '',
                email: '',
                position: '',

                keyPosition: {
                    admin: false,
                    exec_manager: false,
                    exec_co_manager: false,
                },
                responsibility: '',
                inn: '',
                password: '',
                passwordRepeater: '',
                pass: {
                    serial: '',
                    num: '',
                    issued_by: '',
                    issued_time: '',
                    issued_code: '',
                    birth_pace: '',
                },
                notifications: {
                    executor: false,
                    'co-executor': false,
                    'chat-notifications': true,
                    'new-tenders': false,
                },
                email_notification: false,
                phone_notification: false,
                togglePasswordReset: false,
            },
            organization: {
                inn: '',
                kpp: '',
                ogrn: '',
                date: '',
                ceo: '',
                fullName: '',
                shortName: '',
                postAddress: '',
                smallBusines: '',
                sameOrigin: '',
                description: '',
                bik: '',
                bank: '',
                rc: '',
                kc: '',
                keyPosition: {
                    admin: false,
                    exec_manager: false,
                    exec_co_manager: false,
                },
                responsibility: '',
                inn: '',
                password: '',
                passwordRepeater: '',
                pass: {
                    serial: '',
                    num: '',
                    issued_by: '',
                    issued_time: '',
                    issued_code: '',
                    birth_pace: '',
                },
                notifications: {
                    executor: false,
                    'co-executor': false,
                    'chat-notifications': true,
                    'new-tenders': false,
                },
                email_notification: false,
                phone_notification: false,
                togglePasswordReset: false,
            },
            users: {
                user: {
                    img: '',
                    name: '',
                    position: '',
                    email: ''
                }
            }
        }
    },
    props: {
        auth: Boolean,
    },
    methods: {
        submitUserData: function() {
            const data = $('.user-data').serialize();
        },
        eBlur: function() {
            // this.edit.email = false;
        },
        disableEditMode: function() {
            //Object.keys(this.edit).forEach(el => (this.edit[el] = false));
        },
    },
    mounted: function() {
        const ctx = this;
        const token = localStorage.getItem('token');

        $.ajax({
            type: 'GET',
            url: '/crm_api/user/info',
            headers: {
                Authorization: 'Bearer ' + token,
            },
            success: function(data, status, request) {
                ctx.data.tel = data.message.tel;
                ctx.data.email = data.message.email;
            },
            error: function(err) {
                console.log(err);
            },
        });
    },
    components: {
        Nav: () => import('./Nav.vue'),
        TopBar: () => import('./TopBar.vue'),
        SideBar: () => import('./SideBar.vue'),
        UserProfile: () => import('./home/UserProfile.vue'),
        Organization: () => import('./home/Organization.vue'),
        Users: () => import('./home/Users.vue'),
        Books: () => import('./home/Books.vue'),
        Docs: () => import('./home/Docs.vue')
    },
};
</script>
</script>
</script>
