// logo

.logo {
    display: block;
    & svg {
        display: block;
        margin: 0 auto;
    }
}

// aside menu
.menu {
    & a {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        height: 13px;
        color: #000000;
        font-size: 12px;
        width: 102px;
        height: 102px;
        border-radius: 8px;
        background-color: #ffffff;
        transition: all 0.35s ease-out;

        & svg {
            margin-bottom: 17px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        & span {
            color: #000000;
            font-size: 12px;
        }

        &:hover {
            transition: all 0.35s ease-out;
            box-shadow: 0 6px 24px rgba(0, 0, 0, 0.08);
        }
    }
}
.faq {
    margin-top: auto;
}

// container
.container {
    padding: 40px 40px 40px 40px;
}
.prof-header {
    min-height: 68px;
    padding: 0 20px;
    box-shadow: 0 0 19px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    background-color: #ffffff;
}

// header -- legacy code
.header-panel {
    p {
        opacity: 0.8;
        color: #000000;
        font-size: 14px;
        margin-right: 39px;
        margin-left: 12px;
    }
    img {
        margin-left: 29px;
    }
}

.header__button {
    width: 32px;
    height: 32px;
    background-color: #f8f9f9;
    border-radius: 16px;
}

.prof-main-nav {
    position: fixed;
    align-items: center;
    left: 0px;
    top: 0px;
    height: 100vh;
    width: 150px;
    background-color: #fff;
}

.prof-main-nav__logo,
.logo {
    display: block;
    margin-top: 55px;
    & svg {
        display: block;
        & .logo-body {
            fill: url('#linear-gradient');
        }
    }
}
.prof-main-nav__ref {
    margin-bottom: 58px;
}

.prof-main-nav__nav {
    margin-bottom: 105px;
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin-top: 20px;
        height: 13px;
        color: #000000;
        font-size: 12px;
        width: 102px;
        height: 102px;
        border-radius: 8px;
        background-color: #ffffff;
        transition: all 0.3s ease-out;
        &:first-child {
            margin-top: 0px;
        }
        &:hover {
            transition: all 0.3s ease-in;
            box-shadow: 0 6px 24px rgba(0, 0, 0, 0.08);
        }
        svg {
            margin-bottom: 17px;
        }

        &:nth-child(2) {
            svg {
                margin: 6px 0px 12px 6px;
            }
        }

        &:nth-child(3) {
            svg {
                margin: 6px 0px 14px 0px;
            }
        }
    }
}

.prof-main {
    flex-wrap: wrap;
    h1 {
        width: 100vw;
        opacity: 0.9;
        color: rgba(0, 0, 0, 0.84);
        font-size: 35px;
        font-weight: 500;
        margin-top: 55px;
        margin-bottom: 28px;
    }
}

.prof-main__left-side {
    justify-content: space-between;
    max-width: 380px;
    width: 100%;
    box-shadow: 0 0 21px rgba(0, 0, 0, 0.05);
    align-self: flex-start;
    border-radius: 6px;
    background-color: #ffffff;
}

.prof-main__right-side {
    width: calc(100% - 420px);
    box-shadow: 0 0 22px rgba(0, 0, 0, 0.04);
    border-radius: 6px;
    background-color: #ffffff;
}

.left-side__photo {
    position: relative;
    align-items: center;
    img {
        margin-left: 4px;
        margin-top: 101px;
        margin-bottom: 15px;
        cursor: pointer;
    }
    b {
        font-size: 16px;
        font-weight: 400;
        margin-top: 3px;
        margin-bottom: 5px;
    }
    p {
        opacity: 0.2;
        color: #000000;
    }
    & img:hover + .add-photo {
        &:before {
            opacity: 1;
            transition: all 0.3s ease-out;
        }
    }
}

.user-photo {
    position: relative;
}
.add-photo {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 32px;
    height: 32px;
    background-color: #f8f9f9;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:before {
        content: '';
        display: block;
        background: url('/assets/img/camera.svg') no-repeat center center;
        background-size: cover;
        opacity: 0.4;
        width: 16px;
        height: 16px;
        transition: all 0.3s ease-out;
    }
    &:hover:before {
        opacity: 1;
        transition: all 0.3s ease-out;
    }
}

.left-side__menu {
    a {
        position: relative;
        height: 114px;
        font-size: 13px;
        display: block;
        height: 115px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        transition: all 0.4s ease-out;
        &:hover {
            background-color: #f8f9f9;
        }
        & span {
            width: 100%;
            height: 100%;
        }
        &::before {
            content: '';
            position: absolute;
            top: 0px;
            display: block;
            width: 100%;
            height: 1px;
            background-color: #f6f6f6;
        }
    }
}

.right-side__menu {
    position: relative;
    a {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 55px;
        line-height: 1;
        font-size: 13px;
        &:hover::after {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 2px;
            background-color: #2d7ef9;
            bottom: -2px;
            left: 0px;
            border-radius: 5px;
        }
    }
    &::before {
        content: '';
        position: absolute;
        top: 55px;
        display: block;
        width: 100%;
        height: 2px;
        background-color: #f8f9f9;
    }
}

.form {
    align-items: center;
}

.form-wrap {
    flex-wrap: wrap;
    width: 622px;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        display: block;
        top: 385px;
        width: 646px;
        height: 2px;
        background-color: #f8f9f9;
    }
    &::after {
        content: '';
        position: absolute;
        display: block;
        top: 750px;
        width: 646px;
        height: 2px;
        background-color: #f8f9f9;
    }
    h2 {
        width: 100%;
    }
}

.form__buttons {
    align-self: flex-start;
}

.checkbox {
    display: none;
}

.checkbox + label {
    position: relative;
    padding: 5px 0 0 30px;
    cursor: pointer;
}
label {
    font-size: 12px;
    line-height: 14px;
}

.chk-wrap {
    height: 40px;
    width: 438px;
    float: right;
    align-items: center;
    label:nth-child(4) {
        margin-right: 15px;
    }
}

.checkbox + label:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.06);
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
}

.checkbox + label:after {
}

.checkbox:checked + label:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    background-image: linear-gradient(to right, #1770f7 0%, #72a8ff 100%);
}

.checkbox:checked + label:after {
    content: '';
    position: absolute;
    display: block;
    width: 20px;
    height: 19px;
    border: 0px;
    top: 7px;
    left: 6px;
    z-index: 10;
    background-repeat: no-repeat;
}
.p70_l {
    display: block;
    padding-left: 70px;
}
/* tabs */
.tabs {
    position: relative;
}
.tabs__i {
    height: 55px;
    position: relative;
    z-index: 1;
    opacity: 0.5;
    color: #000000;
    font-size: 13px;
    line-height: 12px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    & span {
        display: block;
        line-height: 1;
    }
}
.tabs:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background: #f8f9f9;
    left: 0;
    bottom: 0px;
}
.tabs__i_act {
    color: #000000;
    font-size: 13px;
    opacity: 1;
    line-height: 12px;
    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        position: absolute;
        left: 0px;
        bottom: 0px;
        height: 2px;
        background: #2d7ef9;
    }
}

.form {
    align-items: flex-start;
}

main {
    background: white;
    width: 100%;
    border-radius: 6px;
    background-color: #ffffff;
    position: relative;
}
.button_blue {
    background-image: linear-gradient(to right, #1770f7 0%, #72a8ff 100%);
    color: #ffffff;
}
.left-side__menu {
    & a {
        color: #000000;
        font-size: 13px;
    }
}
.left-side__photo {
    margin-bottom: 85px;
    & p:last-child {
        margin-bottom: 0px;
    }
}

.prof-main__left-side {
    align-self: flex-start;
}

// content
.content {
    padding: 0 70px 50px;
}

// btns fix
.input-editable {
    position: relative;
    & label {
        margin-bottom: 8px;
        line-height: 1;
        display: block;
    }

    & .input-text {
        color: #000000;
        font-size: 13px;
        & span {
            line-height: 20px;
        }
    }
}

.input-text.input-text_editable {
    display: inline-block;
    position: relative;
    padding-right: 18px;
    & .ic {
        display: block;
        position: absolute;
        right: 0px;
        top: 40%;
        transform: translateY(-50%);
    }
}

.fade {
    opacity: 0.4;
}
.inp:focused {
    opacity: 1;
    box-shadow: 2px 2px 9px 2px rgba(169, 169, 169, 0.05);
    background-color: #ffffff;
    border: solid 1px #ececec;
}

// line
.line {
    display: block;
    width: 100%;
    margin: 40px 0;
    height: 2px;
    background: #f6f6f6;
}

// row
.row {
    margin-left: -10px;
    margin-right: -10px;
    position: relative;
    display: flex;
    & > *[class^='col-'] {
        padding: 0 10px;
        margin-bottom: 20px;
    }
}

.round-checkbox {
    position: relative;

    & label {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        cursor: pointer;

        & .fade {
            transition: 0.3s ease-out;
        }

        & .pseudo-input {
            width: 21px;
            height: 21px;
            display: block;
            background: white;
            border-radius: 50%;
            margin-right: 10px;
            background-color: #ffffff;
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.06);
            border: solid 1px rgba(0, 0, 0, 0.06);
            position: relative;
            border: 1px solid #ececec;
        }
    }

    & input:checked + label .pseudo-input:before {
        content: '';
        display: block;
        left: 50%;
        top: 50%;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        background: white;
        transition: 0.2s ease-out;
    }

    & input:checked + label .fade {
        transition: 0.3s ease-out;
        opacity: 1;
    }
}
.btn-add {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 32px;
    min-height: 32px;
    width: 32px !important;
    height: 32px !important;
    line-height: 1;
    background-color: #f8f9f9;
    border-radius: 50%;

    &:before {
        content: '+';
        display: block;
        width: 14px;
        font-size: 22px;
        height: 18px;
        color: #6c6c6c;
    }

    &_w {
        background: white;
    }
}

// btns
.btns > *:not(:last-child) {
    margin-right: 20px !important;
}
.btn.fade:hover {
    opacity: 1;
    transition: all 0.3s ease-out;
}

// cards
.document-bar {
    width: 100%;
    background: #f8f9f9;
    height: 90px;
    padding: 0 30px;
    position: relative;
}
.prev-card {
    font-size: 13px;
    color: black;
    line-height: 23px;

    &:before {
        content: '';
        display: block;
        margin-right: 18px;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        position: relative;
        background: url('/img/prev.svg') no-repeat center center white;
    }
}

// content
.content-s {
    padding-left: 30px;
    padding-right: 30px;
    display: block;
    position: relative;
}
.card-desc p {
    color: #000000;
    font-size: 16px;
    line-height: 21px;
}

.card-status {
    position: relative;

    &__main-steps {
        display: block;
        color: #000000;
        font-size: 13px;
        line-height: 12px;
    }
}

.card-status > * {
    padding: 0 10px;
}
.card-status__main-steps {
    text-indent: 30px;
}

//progress bar with steps

.step {
    width: 32px;
    height: 32px;
    border: 1px solid #eaeaea;
    background-color: #f8f9f9;
    border-radius: 50%;
    opacity: 0.4;

    &_done {
        opacity: 1;
    }
}
.progress {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 10px;
    top: 50%;

    background: #eaeaea;
    transform: translateY(-50%);

    &_step {
        display: block;
        position: relative;

        &:before {
            display: block;
            width: 2px;
            background: #eaeaea;
            height: 10px;
        }
    }
}
.card-bar {
    & *[class^='col-'] {
        margin-bottom: 0px;
        position: relative;
        z-index: 1;
    }
}
.progress {
    z-index: 0;

    &_ready {
        display: block;
        width: 50%;
        position: absolute;
        left: 0px;
        top: 0px;
        display: block;
        height: 2px;
        background: #64a0fe;
    }
}

.txt-c {
    text-align: center;
}
.card-steps > * {
    padding-top: 25px !important;
    display: block;
    opacity: 0.5;
    color: #000000;
    font-family: 'Gotham Pro';
    font-size: 13px;
    line-height: 12px;
}

// progress bar
.prog-bar {
    margin-top: 50px;
    padding-bottom: 30px;
}
.prog-title {
    color: #000000;
    text-indent: 20px;
    font-family: 'Gotham Pro';
    font-size: 13px;
    line-height: 12px;
    & .fade {
        opacity: 0.2;
    }
}

.prog-status {
    padding-top: 50px;
    position: relative;

    &__line {
        display: block;
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: 50%;
        background: #eaeaea;
    }

    &__ready {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 60%;
        height: 2px;
        background: #64a0fe;
    }
}

.prog-point {
    margin-top: -15px;
    position: relative;

    &__step {
        border-radius: 50%;
        display: flex;
        width: 30px;
        height: 30px;
        border: 1px solid #eaeaea;
        background-color: #f8f9f9;
    }

    &__i {
        position: relative;
        height: 100%;
        width: calc(100% - 32px);

        & > * {
            position: relative;
            padding-top: 30px;
            & span {
                padding-top: 8px;
                display: block;
                opacity: 0.5;
                color: #000000;
                font-size: 12px;
                text-align: center;
                line-height: 12px;
            }

            &:not(:last-child):before {
                content: '';
                position: absolute;
                right: 0px;
                display: block;
                top: 10px;
                height: 10px;
                transform: translateY(1px);
                border-right: 2px solid #ebebeb;
                text-align: center;
            }
        }
    }
}

//line
.line {
    display: block;
    width: 110%;
    margin-left: -5%;
    margin-right: -5%;
    height: 2px;
    background: #f8f9f9;
}

.prof-main__right-side {
    overflow: hidden;
}
.price__ttl {
    display: block;
    opacity: 0.4;
    color: #000000;
    margin-bottom: 5px;
    font-size: 13px;
    line-height: 12px;
}
.price__value {
    display: block;
    color: #000000;
    font-size: 18px;
    line-height: 23px;
    font-family: 'Gotham Pro';
    font-weight: 400;
}
.lnk {
    color: #64a0fe;
    font-size: 13px;
    line-height: 12px;
}
.ttl-s {
    color: #000000;
    font-size: 13px;
    line-height: 19px;
}

// faq
.faq {
    position: relative;

    &__i_act .faq__q {
        background-color: #f6f6f6;
    }
    &__q {
        position: relative;
        height: 55px;
        padding: 0 12px 0 22px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 4px;
        border: 1px solid #ececec;
        background: white;

        & span {
            opacity: 0.5;
            color: #000000;
            font-size: 12px;
        }
    }

    &__arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        background: white;
        border-radius: 50%;

        &:before {
            content: '';
            display: block;
            width: 8px;
            transform: rotate(-90deg);
            height: 6px;
            background: url('/assets/img/prev.svg') no-repeat center center
                white;
        }
    }
}
.faq__arrow {
    background: #f8f9f9;
    cursor: pointer;
}

.faq__i_act .faq__arrow {
    background: white;
}
.faq__i_act .faq__ans {
    display: block;
    height: initial;
}
.faq__ans {
    height: 0px;
    display: none;
    background-color: #fcfcfc;
    margin-top: 10px;
    padding: 25px 42px;
    & > * {
        max-width: 700px;
        opacity: 0.8 !important;
        color: #000000 !important;
        font-family: 'Gotham Pro';
        font-size: 12px !important;
        line-height: 22px !important;
    }
}

.faq__i_act .faq__arrow:before {
    transform: rotate(0deg);
}

// table
.table {
    position: relative;
}
.btn-down,
.btn-up {
    position: relative;
    cursor: pointer;
}
.btn-add {
    cursor: pointer;

    &_color-white:before {
        color: white;
    }
}
.btn-down:before {
    content: '';
    display: block;
    background: url('/assets/img/donw.svg') no-repeat;
    position: absolute;
    background-size: cover;
    width: 6px;
    height: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.btn-up:before {
    content: '';
    cursor: pointer;
    display: block;
    background: url('/assets/img/up.svg') no-repeat;
    position: absolute;
    background-size: cover;
    width: 6px;
    height: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.table__header_bord {
    border: 1px solid #ececec;
    border-left: none;
    padding: 20px;
    border-right: none;
}
.tab-r_bord {
    display: block;
    padding: 20px;
    border-bottom: 1px solid #ececec;
    border-top: 1px solid transparent;
    cursor: pointer;
    transition: all 0.4s ease-out;

    &:hover {
        box-shadow: 0 0 22px rgba(0, 0, 0, 0.04);
        background-color: #ffffff;
        transition: all 0.4s ease-out;
        border-bottom: 1px solid transparent;
    }
}
// user stats

.widget {
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 22px rgba(0, 0, 0, 0.02);
    border-radius: 3px;
    background-color: #ffffff;
}
.widget .ttl-m {
    margin: 0px;
    text-transform: initial !important;
}
.ttl-m {
    color: #000000;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
}

.fade-02 {
    opacity: 0.2;
}
.ttl-m_und {
    text-decoration: underline;
}
.pie-s {
    width: 150px;
    height: 200px;
}
.dashboard .widget {
    margin-right: 20px;
    margin-bottom: 20px;
}
.widget_s {
    display: block;
    max-height: 548px;
}
.help {
    display: block;
    right: 30px;
    z-index: 100;
    bottom: 30px;
    cursor: pointer;
    position: fixed;
}
.help__btn {
    border-radius: 50%;
    background-color: rgba(108, 108, 108, 0.9);
    cursor: pointer;
    display: block;
    width: 45px;
    height: 45px;
}
.ic-help {
    display: block;
    background: url('/assets/img/logo_white.svg') no-repeat;
    width: 24px;
    height: 24px;
    background-size: cover;
    color: white;
    position: absolute;
    left: 48%;
    top: 53%;
    transform: translate(-50%, -50%);
}
.help__text {
    display: none;
    opacity: 0;
    position: absolute;
    padding: 20px 30px 20px 30px;
    margin-top: 0px;
    min-width: 300px;
    color: #ffffff;
    font-size: 10px;
    right: 0%;
    opacity: 0.9;
    bottom: 130%;
    line-height: 18px;
    background-color: rgba(108, 108, 108, 1);
    & p {
        cursor: auto;
        opacity: 0.8;
        transition: all 0.3s ease-out;
    }
    &:after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-top: 10px solid rgba(108, 108, 108, 1);
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 0px;
        position: absolute;
        bottom: -10px;
        right: 12px;
    }

    &:hover {
        transition: all 0.3s ease-out;
        background-color: rgba(108, 108, 108, 1);
        & p {
            opacity: 1;
            transition: all 0.3s ease-out;
        }
    }
}
.help__text-btn {
    opacity: 0.4;
    display: inline-block;
    padding: 2px;
    color: #ffffff;
    text-decoration: underline;
    font-size: 10px;
    line-height: 16px;
    margin-top: 5px;
    transition: all 0.3s ease-out;
    &:hover {
        transition: all 0.3s ease-out;
        opacity: 1;
    }
}

// top-bar
.top-bar {
    background: #f8f9f9;
    padding: 20px 32px;
}
.sender {
    position: relative;

    &__img {
        display: block;
        width: 32px;
        height: 32px;
        margin-right: 12px;
        border-radius: 50%;
    }

    &__name {
        color: #000000;
        font-size: 12px;
        line-height: 14px;
        display: block;
        margin-right: 10px;
    }
    &__title {
        opacity: 0.4;
        color: #000000;
        font-size: 12px;
        line-height: 24px;
    }
}
.bar-date {
    opacity: 0.65;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
}
.top-bar .btns {
    margin-right: 0px;
}
.ic-close {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background: white;
}
.top-btns > *:first-child {
    margin-right: 20px !important;
}
.top-bar .bar-date {
    margin-right: 50px;
    margin-left: auto;
}
.email-content {
    max-width: 800px;
    width: 96%;
    padding: 45px 70px;
    color: #000000;
    font-size: 12px;
    line-height: 24px;

    & p {
        margin: 0px;
        margin-bottom: 30px;
    }
}
.message-input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    height: 150px;
    border: 1px solid #ececec;
    resize: none;
    padding: 20px;
    outline: none;
}

.f-text-wrap {
    position: relative;
}
.f-action-btns {
    display: block;
    position: absolute;
    left: 20px;
    top: 20px;

    & > * {
        margin-right: 10px;
        opacity: 0.4;
        text-decoration: none !important;
        color: #000000;
        font-size: 12px;
        line-height: 24px;
        text-decoration: underline;
        padding: 2px 3px;
        transition: all 0.3s ease-out;

        &:hover {
            color: #1770f7;
            transition: all 0.3s ease-out;
            opacity: 1;
        }
    }
}

.email_old {
    display: block;
    padding: 40px 40px;
    border-radius: 4px;
    background: #f8f9f9;
    background-color: #f8f9f9;
}

.email-btn {
    margin-top: 5px;
    position: relative;
    cursor: pointer;
    background: none;
    margin-right: 0px;
    display: block;
    width: 15px;
    height: 12px;
    margin-left: auto;
    padding: 0px;
}

.email-txt p:last-child {
    margin-bottom: 0px;
}
// chat
.chat {
    width: 380px;
    border-radius: 6px;
    background-color: #f8f9f9;

    &__ttl {
        font-size: 18px;
        font-weight: 500;
        line-height: 21px;
        margin-top: 0px;
        margin-bottom: 3px;
        & h2 {
            color: #000000;
        }
    }

    &-header {
        padding: 25px;
        &_gr {
            background-image: linear-gradient(
                to right,
                #1770f7 0%,
                #72a8ff 100%
            );

            & > * {
                color: white;
            }

            &__ttl {
                color: white;
            }
        }
    }
}

.btn-add_white {
    background: white;
}

.chat-user {
    position: relative;
    cursor: pointer;
    justify-content: center;
    transition: all 0.2s ease-out;
    & img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid white;
    }
    &-list_sub > * {
        margin-right: 25px;
        margin-bottom: 20px;
        &:nth-child(5) {
            margin-right: 0px;
        }
    }
    &_mid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__img {
        display: inline-block;
        margin: 0 auto;
        position: relative;
        > * {
            margin: 0 auto;
            display: block;
        }
    }
    &__collapsed:not(:first-child) {
        margin-left: -12px;
    }

    &:hover {
        z-index: 2;
        transition: all 0.2s ease-out;
    }

    &__ttl {
        display: block;
        color: #ffffff;
        font-size: 12px;
        line-height: 18px;
    }
}

.stat {
    display: block;
    width: 8px;
    height: 8px;
    border: 1px solid #ffffff;
    position: absolute;
    left: -2px;
    top: 2px;
    background-color: #38c411;
    border-radius: 50%;
}
.tabs_white {
    background: white;
}

.tabs__i_act:after {
    bottom: 1px;
}

.ch-field {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 26px;
    overflow: hidden;

    &_w {
        background: white;
    }
    &_no-paddings {
        padding: 0px;
    }
    & > *:last-child {
        margin-bottom: 0px;
    }

    & p {
        line-height: 19px;
    }
}

.msg {
    max-width: 260px;
    width: intial;
    margin-left: 0px;
    margin-right: auto;
    display: block;
    position: relative;
    margin-bottom: 15px;

    &_u {
        margin-left: auto;
        margin-right: 0px;
    }

    &__img {
        & img {
            display: block;
            width: 32px;
            height: 32px;
        }
        position: absolute;
        left: 0px;
        top: 0px;
    }

    &_adm {
        display: block;
        padding-left: 42px;
    }
    &-ttl {
        opacity: 0.3;
        padding-top: 6px;
        color: #000000;
        font-size: 10px;
        margin-bottom: 8px;

        &_u {
            text-align: right;
        }
    }
    &-txt {
        border-radius: 4px;
        background-color: #ffffff;
        color: #000000;
        font-size: 12px !important;
        padding: 10px 12px;
        line-height: 18px;

        &_u {
            background-color: #64a0fe;
            color: #ffffff;
            position: relative;

            &:after {
                content: '';
                display: block;
                right: -6px;
                top: 50%;
                transform: translateY(-50%);
                border-left: 6px solid #64a0fe;
                border-bottom: 5px solid transparent;
                border-top: 5px solid transparent;
                position: absolute;
            }
        }
    }
}

//clear
.c:before {
    content: '';
    clear: both;
    display: block;
}
.msg-action {
    display: none;
    text-align: center;
}
.msg-typed_action {
    & .msg-action {
        top: 5px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 39px;
        height: 24px;
        border-radius: 4px;
        background-color: #ffffff;

        &:after {
            content: '';
            display: block;
            left: -4px;
            top: 50%;
            transform: translateY(-50%);
            border-right: 4px solid white;
            border-bottom: 3px solid transparent;
            border-top: 3px solid transparent;
            position: absolute;
        }

        & svg {
            display: block;
        }
    }

    & .msg-ttl,
    .msg-txt {
        display: none;
    }
}
.ch-input {
    margin-top: 55px;
    display: block;
    box-sizing: border-box;
    outline: none;
    position: relative;

    & textarea {
        display: block;
        width: 100%;
        height: 75px;
        padding: 30px 60px 25px 68px;
        resize: none;
        border: none;
    }
}
.btn-pin {
    display: block;
    position: absolute;
    top: 20px;
    width: 32px;
    height: 32px;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-color: #f8f9f9 !important;
    border-radius: 50%;
    right: 25px;
}
.ch-input .btn-pin {
    position: absolute;
    left: 20px;
    top: 20px;
}

.ic-search {
    display: block;
    background: url('/assets/img/search.svg') no-repeat center center;
    width: 17px;
    height: 16px;
    cursor: pointer;
    background-color: unset !important;

    &.btn-search {
        background-color: none !important;
        position: absolute;
        right: 25px;
        top: 28px;
    }
}
.ch-input__form {
    background: white;
}

.ch-ttl {
    color: #000000;
    font-family: 'Gotham Pro';
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.3px;
}
.form_files {
    & label {
        color: #2a7cf9;
        font-size: 13px;
        cursor: pointer;
        line-height: 18px;
    }
}
.label-ic-file {
    display: inline-block;
    padding-left: 16px;
    position: relative;
    margin-bottom: 5px;
    color: #2a7cf9;

    &:before {
        content: '';
        display: block;
        width: 11px;
        height: 10px;
        position: absolute;
        left: 0px;
        top: 45%;
        transform: translate(0%, -50%);
        margin-right: 5px;
        background: url('/assets/img/pin_blue.svg') no-repeat;
    }
}
.ch-field .line {
    margin-top: 20px;
    margin-bottom: 20px;
}

// ch-doc
.ch-doc {
    &__time {
        color: #000000;
        font-size: 13px;
        line-height: 13px;
    }

    &__lnk {
        margin-left: 5px;
        cursor: pointer;
        opacity: 0.4;
        color: #000000;
        font-size: 13px;
        text-decoration: underline;
    }
}

// event

.event {
    padding: 25px;
    border-bottom: 2px solid #f8f9f9;
    &-w {
        position: relative;
    }
    &__time {
        opacity: 0.3;
        color: #000000;
        font-size: 10px;
        margin-bottom: 6px;
    }
    &__text {
        color: #000000;
        font-family: 'Gotham Pro';
        font-size: 13px;
        line-height: 18px;

        & div {
            margin-left: 5px;
        }
    }
    &__sub-count {
        font-weight: bold;
    }

    &-sublist {
        padding-left: 15px;
        background: #f8f9f9;

        display: block;
        list-style: none;

        & .event:not(:last-child) {
            border-bottom: 1px solid white;
        }
    }
}

.btn-dd {
    display: inline-block;
    background: none;
    &:before {
        content: '';
        width: 11px;
        height: 6px;
        display: block;
        background: url('/assets/img/btn-dd.svg') no-repeat;
        background-size: contain;
    }
}

.event-list > *:nth-last-child(1) {
    opacity: 0.4;
}
.event-list > *:nth-last-child(2) {
    opacity: 0.6;
}

// btn-arrow
.btn-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 32px;
    height: 32px;

    &:before {
        content: '';
        display: block;
        background: url('/assets/img/arrow.svg') no-repeat center center;
        width: 10px;
        height: 10px;
        transform: rotate(-180deg);
    }
}

.chat-nav {
    width: 100%;
}

// avatar
.avatar {
    width: 100%;
    display: flex;
    align-items: center;

    &-img {
        display: block;
        border-radius: 50%;
        position: relative;
        margin-right: 16px;
    }
    &-name {
        color: #000000;
        font-family: 'Gotham Pro';
        font-size: 12px;
        line-height: 18px;
    }
    &-lnk {
        color: #277af8;
        font-family: 'Gotham Pro';
        font-size: 12px;
        display: inline-block;
        cursor: pointer;
        line-height: 18px;
    }

    &-status {
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        overflow: hidden;
    }
}

.status-online {
    display: block;
    background: #38c411;
    position: absolute;
    left: 19px;
    bottom: 8px;
}

.event__ttl {
    opacity: 0.6;
}
.event__data {
    display: block;
    color: black;
    opacity: 1;
}
.btn-l {
    display: flex;
    border-radius: 4px;
    background-image: linear-gradient(to right, #1770f7 0%, #72a8ff 100%);
    color: #ffffff;
    font-size: 13px;
    align-items: center;
    justify-content: center;
    width: 220px;
    font-weight: 500;
    line-height: 14px;
}
.chat-wrapper {
    padding: 65px 37px 15px;
}

.chat-header_w {
    background: white;
}
.bg_w {
    background: white;
}

.p30 {
    padding: 30px;
}

.task-cal {
    display: block;
    position: relative;

    &__title {
        display: block;
        width: 100%;
        background-color: #f8f9f9;
        padding: 17px 20px;
        opacity: 0.5;
        color: #000000;
        font-size: 13px;
        font-weight: 500;

        letter-spacing: 0.3px;
    }
}
.btn-arrow__r {
    &:before {
        transform: rotate(0deg);
    }
}

.task-cal__nav > *:first-child {
    margin-right: 10px;
}
//task-data
.task-data {
    display: block;
    position: relative;
    padding: 30px 0 10px 20px;
    border-bottom: 2px solid #ececec;
    &__time {
        color: #6c6c6c;
        font-size: 16px;
        line-height: 17px;
        margin-bottom: 10px;
    }
    &__ttl {
        color: #000000;
        font-size: 12px;
        line-height: 17px;
    }

    &__txt {
        opacity: 0.4;
        color: #000000;
        font-size: 12px;
        line-height: 17px;
    }
}

.status-line:before {
    content: '';
    background-color: #ff907f;
    height: 55%;
    width: 2px;
    top: 30px;
    left: 0px;
    position: absolute;
}
.status-pending:before {
    background-color: #ff907f;
}
.status-ready:before {
    background-color: #8ace82;
}
.status-fail:before {
    background-color: #645a58;
}
.user-search {
    flex: 0 0 100%;
}
.user-search input {
    color: #000000;
    height: 44px;
    text-indent: 17px;
    display: block;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid #ececec;
    background-color: #ffffff;
}

// btn-tag
.btn-tag {
    border-radius: 20px;
    display: flex;
    position: relative;
    background: #f8f9f9;
    color: #000000;
    font-family: 'Gotham Pro';
    cursor: pointer;
    padding: 15px 45px 15px 25px;
    font-size: 12px;
    transition: background 0.4s ease-out;
    & svg {
        content: '';
        display: block;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.4s ease-out;
    }

    &:hover {
        background: linear-gradient(to right, #1770f7 0%, #72a8ff 100%);
        color: white;
        transition: background 0.4s ease-out;
        & svg * {
            fill: white;
        }
    }
}

// tags
.tags {
    -webkit-overflow-scrolling: touch;
    display: flex;
    margin-bottom: -20px;
    padding-left: 25px;
    padding-right: 25px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    position: relative;
    word-wrap: normal;
    & > * {
        margin-right: 20px;
    }

    &-dd {
        display: flex;
        position: absolute;
        right: 0px;
        top: 50%;
        width: 32px;
        border-radius: 50%;
        height: 32px;
        transform: translateY(-50%);
        background: linear-gradient(to right, #1770f7 0%, #72a8ff 100%);
        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 8px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background: url('/assets/img/btn-down-w.svg') no-repeat;
        }
    }
}
// dash-settings
.dash-settings {
    display: flex;
    border-top: 2px solid #f8f9f9;
    border-bottom: 2px solid #f8f9f9;
    padding: 25px 35px;
    position: relative;
}

.ic-list,
.ic-cal,
.ic-process {
    display: flex;
    align-items: center;
    padding-left: 30px;
    background: none;
    opacity: 0.5;
    color: #000000;
    font-size: 13px;
    line-height: 12px;
    margin-right: 40px;
    position: relative;

    &:before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;

        position: absolute;
        left: 0px;
        top: 50%;
        margin-top: -10px;
        background: url('/assets/img/ic-list.svg') no-repeat left center;
    }
}
.ic-list:before {
    height: 16px;
    margin-top: -8px;
}

.ic-cal:before {
    background: url('/assets/img/ic-cal.svg') no-repeat;
    height: 21px;
    margin-top: -13px;
}
.ic-process:before {
    content: '';
    display: block;
    width: 17px;
    height: 17px;
    margin-bottom: 15px;
    margin-right: 0px;
    transform: rotate(-90deg);
}

.dash-settings * {
}
.fix-margin {
    margin-top: 30px;
}

// board
.board {
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-bottom: -20px;
}

.list {
    margin-right: 30px;
    display: block;
    width: 315px;
    padding: 25px;
    border-radius: 4px;
    background-color: #f8f9f9;
    align-self: flex-start;
    cursor: pointer;

    &-card {
        box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.03);
        padding: 20px;
        border-radius: 4px;
        margin-bottom: 20px;
        background-color: #ffffff;
        position: relative;

        & .ic-edit {
            position: absolute;
            top: 10px;
            right: 10px;
        }

        & p {
            color: #000000;
            font-family: 'Gotham Pro';
            font-size: 12px;
            line-height: 17px;
            margin: 0;
        }

        &:last-child {
            margin-bottom: 0px;
            cursor: pointer;
        }
        &__status {
            display: block;
            width: 9px;
            height: 9px;
            position: absolute;
            border-radius: 50%;
            right: 10px;
            bottom: 10px;

            &_fail {
                background-color: #fc422c;
            }
        }
    }

    &__title {
        color: #000000;
        display: block;
        position: relative;
        padding-right: 20px;
        font-size: 12px;
        line-height: 19px;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        margin-bottom: 17px;

        & input {
            display: block;
            outline: none;
            border: none;
            font-size: 12px;
            line-height: 19px;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            background: unset;
        }

        & .ic {
            position: absolute;
            right: 0px;
            top: 50%;
            transform: translateY(-50%);
            opacity: 0.5;
        }

        &:hover .ic {
            opacity: 1;
        }
    }
}

//progressbar
.progressbar {
    display: block;
    position: relative;
    margin: 80px auto;
    height: 5px;
    border-radius: 5px;
    background-color: #f2f6f9;

    &__line {
        display: block;
        width: 30%;
        left: 0px;
        top: 0px;
        height: 5px;
        border-radius: 5px;
        background-color: #64a0fe;
    }
}

// paginator
.paginator {
    color: #000000;
    font-family: 'Gotham Pro';
    font-size: 12px;
    display: flex;

    &__lnk {
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
    }
}
.content-s .pag {
    padding-left: 0px;
    padding-right: 0px;
}

// table
.t-row {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;

    &_head {
        background: #f8f9f9;
    }
    &__txt {
        color: #5f6060;
        font-family: 'Gotham Pro';
        font-size: 12px;
        line-height: 19px;
    }
    &__sort {
        position: relative;
        display: flex;
        font-size: 12px;
        align-items: center;
        line-height: 19px;

        &:after {
            content: '';
            margin-left: 14px;
            width: 8px;
            height: 4px;
            background: url('/assets/img/btn-dd.svg') no-repeat;
        }
    }
}

.dt {
    width: 100%;
    display: table;
    position: relative;
}
.dt .t-row {
    display: table-row;
    width: 100%;
    & > * {
        font-size: 12px;
        line-height: 19px;
    }
}

.dt__label {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 100%;

    &_1 {
        background: #77cfcf;
    }
    &_2 {
        background: #96bb81;
    }
    &_3 {
        background: #bb81b7;
    }
    &_4 {
        background: #ffc77f;
    }
    &_5 {
        background: #baff7f;
    }
    &_6 {
        background: #ff907f;
    }

    &_7 {
        background: #747474;
    }

    &_8 {
        background: #747474;
    }
    &_9 {
        background: #75d0ff;
    }

    &_10 {
        background: #d561f4;
    }
}

// status
._status_fail {
    background: red;
}

._status_peding {
    background-color: #f4bb4a;
}

._status_done {
    background-color: #38c411;
}

.t-row__select {
    width: 13px;
    height: 13px;
    box-shadow: 0 0 22px rgba(0, 0, 0, 0.04);
    border-radius: 2px;
    border: 1px solid rgba(151, 151, 151, 0.15);
    background-color: #ffffff;

    &_disable {
        border: 0px;
    }
}

.btns_w * {
    background: white;
}

// dd
.dd {
    position: relative;

    &__wrapper {
        display: none;
    }
}

//t-td
.t-td {
    padding: 20px;
    display: table-cell;
    margin: 0 auto;
    vertical-align: middle;
}
.t-td_s {
    flex-basis: 20px;
}
.t-td_l {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0 15px;
}

.t-row_head .dt__label {
    background: transparent;
}
.t-td__collapse {
    padding: 0px;
    position: relative;
}

.content-s.flx {
    display: flex;
}
.form-search {
    position: relative;
    min-width: 300px;
    width: 40%;
    & input.inp {
        text-indent: 40px;
    }
}

.form-search .btn-search {
    position: absolute;
    left: 17px;
    top: 50%;
    transform: translateY(-50%);
}

//filter

.filter {
    padding: 50px 0;
    position: relative;
}

.filter .ttl {
    margin-bottom: 0px;
}

.ttl_s {
    color: #000000;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}
.ic-close_g {
    background: #f9fafa;
}

//      fitlter-form
.filter-form {
    & label {
        color: #000000;
        font-family: 'Gotham Pro';
        font-size: 14px;
        display: block;
        margin-bottom: 11px;
    }
}

// tag-list
.tag-list {
    &__item {
        width: 151px;
        height: 26px;
        line-height: 26px;
        text-align: center;
        color: #ffffff;
        font-family: 'Gotham Pro';
        font-size: 12px;
        border-radius: 2px;
        background-image: linear-gradient(to right, #1770f7 0%, #72a8ff 100%);
    }
    & > .flx * {
        margin-right: 12px;
        margin-bottom: 13px;
    }
}

.lnk-add {
    color: #5f9cfd;
    display: inline-block;
    width: initial;
    font-size: 13px;
    font-weight: 500;
    line-height: 14px;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        display: inline-block;
        height: 1px;
        left: 0px;
        bottom: 0px;
        background: #5c9afd;
        opacity: 0.57;
        width: 100%;
        height: 1px;
    }
}

.steps {
    & .doc {
        margin-bottom: 0px;
    }
}

.row-list {
    position: relative;

    &__ttl {
        width: 100%;
        max-width: 100px;
        margin-right: 30px;
    }

    &__item {
        width: 140px;
    }

    &__item:not(:last-child) {
        margin-right: 35px;
    }
}

.steps label {
    margin-bottom: 11px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;

    & > *[class^='col'] {
        padding: 0 15px;
    }
}

.row > *[class^='col-'] {
    padding: 0 10px;
    margin-bottom: 20px;
}
.row > *[class^='col-']:last-child {
    margin-bottom: 0px;
}

.round-checkbox > label {
    align-items: center;
    display: flex !important;
}
.row-list__item label {
    margin-bottom: 0px;
}

// filter-users
.f-users {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    min-height: 410px;

    max-width: 470px;
    width: 90%;
    max-height: 326px;
    height: 100vh;
    border-radius: 5px;
    background-color: #f2f6f9;
    padding: 30px;
    & .form-search {
        width: 100%;
        display: block;
        box-sizing: border-box;
        max-width: unset;
    }
}
.f-users-w {
    width: 100%;

    overflow: hidden;
    position: relative;
    border-radius: 4px;
    border: 1px solid #ececec;
    background-color: #ffffff;
}
.f-user__i {
    padding: 20px 45px;

    &:hover {
        background: #f8f9f9;
        cursor: pointer;

        & .btn-add {
        }
    }
}
.f-user__i .ava span {
    opacity: 0.4;
    color: #000000;
    font-size: 12px;
}
.f-search .form-search input {
    border: none;
    border-bottom: 1px solid #ececec;
    border-radius: 0;
}

.f-search {
    position: relative;
}

.f-search .form-search {
    left: 0px;
    top: 0px;
    width: 100%;
}

.scroll-wrapper {
    position: relative;
    display: block;
    overflow-y: scroll;
    margin-right: -20px;
    max-height: 300px;
}

.f-u-info {
    position: relative !important;
}

/// filter f-by-industry
.f-by-industry {
    max-width: 490px;
    max-height: initial;
    height: initial;
    background: #f2f6f9;

    & > div {
        width: 50%;

        & > div:last-child {
            margin-bottom: 0px;
        }
    }
}

.checkbox {
    display: block;
    cursor: pointer;

    & input {
        display: none;

        &:checked + label:before {
            background-image: linear-gradient(
                to right,
                #1770f7 0%,
                #72a8ff 100%
            );
        }
        &:checked + label:after {
            opacity: 1;
        }
    }

    & label {
        position: relative;
        padding-left: 32px;
        cursor: pointer;
        display: block;
        line-height: 22px;
        transition: all 0.3s ease-out;

        &:before {
            content: '';
            left: 0px;
            top: 0px;
            background: white;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
            margin-left: 0px;
            width: 21px;
            height: 21px;
            position: absolute;
            border-radius: 2px;
            border: 1px solid #f6f6f6;
            transition: all 0.2s ease-out;
        }

        &:after {
            content: '';
            position: absolute;
            left: 5px;
            top: 6px;

            transition: all 0.2s ease-out;
            opacity: 0;
            width: 11px;
            height: 8px;
            background: url('/assets/img/check.svg');
        }
    }
}

.industry-name {
    color: #979797;
    font-family: 'Gotham Pro';
    font-size: 1.4rem;
    margin-bottom: 8px;
    padding: 10px 0;
    transition: all 0.4s ease-out;

    opacity: 0.85;
    &:hover {
        & label {
            color: #000;
            opacity: 1;
            transition: all 0.3s ease-out;
        }
    }
}

.fc-toolbar.fc-header-toolbar {
    margin: 0px !important;
    padding: 40px 40px 38px;
}
.fc-left h2 {
    text-transform: capitalize;
    opacity: 0.3;
    color: #000000;
    font-size: 2.4rem;
    letter-spacing: 0.055rem;
}

.fc-day-top {
    padding: 18px 18px 0 0 !important;
}
.fc-unthemed .fc-content,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-list-heading td,
.fc-unthemed .fc-list-view,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-row,
.fc-unthemed tbody,
.fc-unthemed td,
.fc-unthemed th,
.fc-unthemed thead {
    border-color: #ececec !important;
}
.fc-button-group button {
    width: 32px !important;
    height: 32px !important;
    background: #f8f9f9 !important;
    border-radius: 50% !important;
    padding: 0px;
    display: flex;
    box-shadow: unset !important;
    border: none !important;
    &:first-child {
        margin-right: 10px;
    }
    & span {
        display: none;
    }

    &:before {
        content: '';
        background: url('/assets/img/arrow.svg') no-repeat center center;
        width: 14px;
        height: 14px;
        left: 50%;
        top: 50%;
        margin-top: -7px;
        margin-left: -7px;
        display: block;
        position: absolute;
    }

    &.fc-prev-button:before {
        transform: rotate(-180deg);
    }
}

.fc-day-header {
    & span {
        padding: 15px 0;
        text-transform: capitalize;
        display: block;
    }
    opacity: 0.5;
    color: #000000;
    font-size: 1.3rem;
    font-weight: 500;

    letter-spacing: 0.03rem;
}
.dashboard {
    margin-bottom: 40px;
}
.vk:hover {
    fill: url(#btn);
}

.btn_alt {
    max-width: 239px;
}

.error {
    border: 1px solid red;
}
.ic-eye {
    width: 20px;
    right: 10px;
    height: 100%;
    display: block;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
        opacity: 1;
    }
    & svg {
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
.pass {
    & div {
        transition: all 0.3s ease-in-out;
    }
    & div {
        color: black;
        opacity: 1;
    }
    & svg g g {
        stroke: #1770f7;
    }
}

.inp {
    transition: all 0.3s ease-in-out;
}

.form > div {
    position: relative;
}
.sub-alert {
    padding: 4px 0;
    position: absolute;
    text-align: right;
    font-size: 12px;
    font-weight: 500;
    opacity: 0.6;
    top: -21px;
    width: 100%;
    display: block;
    height: initial !important;
    line-height: 1;
}

.sub-alert p {
    margin: 0px;
}

.reg h1 {
    margin-top: 0px;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background: none !important;
    color: initial !important;
}

.modal {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    border: 1px solid #f1f6f9;
    background: white;
    width: 280px;
    position: absolute;
    right: 0px;
    padding: 50px 20px;
    font-size: 15px;
    line-height: 1.5em;
}

.modal > * {
    text-align: center;
}

.status-icons {
    position: relative;
}

.on-submission,
.purchase-completed,
.on-commision {
    display: block;
    position: relative;
    margin: 0 auto;

    &:before {
        content: '';
        display: block;
        margin: 0 auto;
    }
}
.on-submission:before {
    width: 14px;
    height: 17px;
    background: url('/assets/img/cooking.svg');
}
.purchase-completed:before {
    width: 16px;
    height: 16px;
    background-size: cover;
    background: url('/assets/img/hammer.svg');
}
.on-commision:before {
    width: 20px;
    height: 22px;
    background-size: cover;
    background: url('/assets/img/done.svg');
}
.status-icons:after {
    display: none;
}
.t-td div:before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
}

.t-td .red:before,
.red:before {
    background: red;
}
.t-td > dib {
    position: relative;
}
.t-td .green:before,
.green:before {
    background: green;
}
.t-td .yellow:before,
.yellow:before {
    background: yellow;
}
.t-td .gray:before,
.gray:before {
    background: gray;
}
.red,
.yellow,
.green,
.gray {
    position: relative;
}

input,
.inp {
    padding: 0px !important;
}
#app {
    overflow: hidden;
}

#singIn input {
    box-shadow: unset;
}
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

@media (max-width: 420px) {
    html,
    body {
        overflow: hidden;
    }
    .full-mid {
        position: relative;
        & .reg {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
    body {
        background: gray;
    }
    .full-mid {
        -webkit-overflow-scrolling: touch;
    }
}
@media (max-width: 350px) {
    .reg {
        padding: 40px 30px !important;
    }
}
.ic.ic-edit {
    padding: 10px;
    background: url(/assets/img/pen.svg) no-repeat center center;
    top: 50%;
    transform: translateY(-50%);
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}
.input-text_editable {
    position: relative;
}

.abs-wrapper {
    position: absolute;
}

@media (max-height: 900px) {
    .prof-main h1 {
        width: 100vw;
        opacity: 0.9;
        color: rgba(0, 0, 0, 0.84);
        font-size: 33px;
        font-weight: 500;
        margin-top: 35px;
        margin-bottom: 20px;
    }
    .container {
        padding-top: 25px;
    }
    .prof-main__right-side .tabs {
        margin-bottom: 35px !important;
    }
    .left-side__photo {
        margin-bottom: 50px !important;
        & img {
            margin-top: 60px;
        }
    }
}

.content {
    padding: 50px 70px;
}

.row > *[class^='col-'] {
    padding: 0 15px;
    margin-bottom: 0px;
}
.link {
    color: #2d7ef9;
    font-family: 'Gotham Pro';
    font-size: 13px;
    font-weight: 400;
    display: inline-block;
    position: relative;
    line-height: 14px;
    padding-bottom: 5px;

    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: #2d7ef9;
        left: 0px;
        bottom: 0px;
        opacity: 1;
        transition: all 0.3s ease-in-out;
    }
    &:hover:after {
        opacity: 0px;
        transition: all 0.3s ease-in-out;
    }
}
.inp {
    padding: 0 10px;
    text-indent: 10px;
}

.inp-wrapper {
    height: 48px;
    display: flex;
    align-items: center;
}

.docs {
    margin-bottom: 15px;
    height: 20px;
}
.docs label {
    color: #6c6c6c;
    font-size: 12px;
    font-weight: 400;
}

.content .p0 {
    padding-left: 0px;
    padding-right: 0px;
}

.content .ava.flx {
    display: flex;
    & img {
        margin-right: 20px;
        width: 53px;
        height: 53px;
        display: block;
        flex: 0 0 53px;
    }
}

.team .t-row {
    transition: all 0.2s ease-in-out;
}

.team .t-row:hover {
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    box-shadow: 0 0px 8px rgba(0,0,0,0.2);
    background: white;
}
.p0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
form input:active ,
form input:focus ,
form input {
    outline: none !important;
}

.table__row a {
  color: #64a0fe;
}
